/* .start-text{
    display: flex;
}

.start-hide{
    margin-right: 20px;
    cursor: pointer;
}

.start-status-wrap{
    display: flex;
    align-items: center;    
    justify-content: center;
}

.start-status{
    height: 220px;
    border-radius: 15px;
    padding: 20px 10px 0 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 230px;
}

.st2{
    background-color: rgb(244, 142, 119);
}

.st1{
    border: 2px solid black;
}

.start-status:first-child{
    margin-right: 30px;
}

.st1-1{
    font-size: 20px;
    font-weight: bold;
}

.st1-2{
    font-size: 40px;
    margin-top: 10px;
}

.st1-3{
    font-weight: bold;
}

.st2-1{
    font-size: 20px;
    font-weight: bold;
    color: rgb(237, 251, 255);
}

.st2-2{
    font-size: 40px;
    color: rgb(239, 247, 252);
    margin-top: 10px;
}

.st2-3{
    color: rgb(255, 205, 196);
    font-weight: bold;
    font-size: 20px;
}

.prg-bar4-wrap{
    background-color: rgb(221, 243, 247);
    overflow: hidden;
}

.prg-bar4{
    background-color: rgb(126, 216, 238);
    height: 20px;
}

.ar-bar4-wrap{
    background-color: rgb(221, 247, 221);
    overflow: hidden;
}

.ar-bar4{
    background-color: rgb(140, 224, 137);
    height: 20px;
}


.start-btn{
    height: 70px;
    border-radius: 15px;
    border: solid 2px black;
    box-shadow: 7px 7px rgb(255, 117, 117), 7px 7px 0 2px black;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.start-btn:active{
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    top: 4px;
    left: 4px;
    box-shadow: inset 2px 2px white, inset 2px 2px 0 2px black;
}

.start-btn a{
    text-decoration: none;
    color: black;
    display: block;
}

.mistake-btn{
    line-height: 70px;
    border-radius: 15px;
    border: solid 2px black;
    box-shadow: 7px 7px rgb(255, 154, 108), 7px 7px 0 2px black;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.new-btn{
    line-height: 70px;
    border-radius: 15px;
    border: solid 2px black;
    box-shadow: 7px 7px rgb(108, 233, 255), 7px 7px 0 2px black;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}


.mistake-btn:active{
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    top: 4px;
    left: 4px;
    box-shadow: inset 2px 2px white, inset 2px 2px 0 2px black;
}

.mistake-btn a{
    text-decoration: none;
    color: black;
    display: block;
} */